

.header {
    background-color:darksalmon
}


body p a{
    border:1px solid black;
}
body p + ul li{
    color:blueviolet;
    padding: 5px;
}
body p + ul{
    letter-spacing:3px;
}
h1{
    color:crimson;
    
}
p{
    padding: 5px;
}
